footer.footer
	.footer__container._container
		.footer__body 
			.footer__column 
				.footer__logo-ibg-contain
					img.footer__image(src="@img/logo-white.png", alt="Логотип")
				.footer__address 4353 Delaware Avenue, San Francisco, USA
				a.footer__mail(href="mailto:hi@thefolio.com")._icon-mail hi@thefolio.com
			.footer__column 
				.footer__menu.menu-footer
					ul.menu-footer__list 
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") About
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Contact
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Dribbble
					ul.menu-footer__list 
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Services
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Blog
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Instagram
					ul.menu-footer__list 
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Experience
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Projects
						li.menu-footer__item 
							a.menu-footer__link(href="404.html") Twitter
		.footer__copy.copy-footer
			.copy-footer__item © All rights reserved. Sumit Hegde. Powered by Webflow
			.copy-footer__links
				a.copy-footer__link(href="404.html") Image License Info
				a.copy-footer__link(href="404.html") Instructions
				a.copy-footer__link(href="404.html") Changelog
				a.copy-footer__link(href="404.html") Style Guide
		