header.header(data-scroll="81", data-scroll-show)
	.header__wrapper
		.header__container._container
			a.header__logo(href="index.html")
				.header__image-ibg-contain
					img.header__picture(src="@img/logo.png")
			.header__menu.menu
				button.menu__icon.icon-menu(type="button")
					span
				nav.menu__body
					ul.menu__list
						li.menu__item
							a.menu__link(href="404.html") About
						li.menu__item
							a.menu__link(href="404.html") Services
						li.menu__item
							a.menu__link(href="404.html") Projects
						li.menu__item
							a.menu__link(href="404.html") Blog
						li.menu__item
							button.menu__link._icon-arrow-forward(type="button" data-popup="#callback") Book a call

			