//====================================================================================================

.header {
	&._header-scroll {
		position: fixed;
		background-color: #ffffffb4;
		z-index: 20;
		width: 100%;
	}
	&._header-show {
		background-color: #ffffff;
		transition: background-color 0.3s ease 0s;
		top: 0;
	}
	&__container {
		display: flex;
		align-items: center;
		padding: rem(20);
		min-height: rem(60);
		@media (max-width: $mobile) {
			padding: rem(10) rem(15);
			min-height: rem(30);
		}
	}
	&__logo {
		padding: rem(20) rem(20) rem(20) rem(0);

	}
	&__image-ibg-contain {
		width: rem(203);
		height: rem(28);
		@media (max-width: $tablet) {
			width: rem(150);
			height: rem(20);
		}
		@media (max-width: $mobileSmall) {
			width: rem(120);
			height: rem(15);
		}
	}
	&__menu {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.menu {
	&__icon {

	}
	&__body {
		@media (max-width: $mobile) {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			height: 100vh;
			color: #ffffff;
			text-transform: uppercase;
			transition: all 0.3s ease 0s;
			padding: rem(60) rem(20) rem(20) rem(20);
			z-index: 1;
		}

	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include adaptiveValue("column-gap", 40, 10);
		justify-content: flex-end;
		@media (max-width: $mobile) {
			flex-direction: column;
			justify-content: center;
			
		}
	}
	&__item {
		@media (max-width: $mobile) {
			font-size: rem(25);
			&:not(:last-child) {
				margin-bottom: rem(15);
			}
			
		}

	}
	&__link {
		display: flex;
		flex-direction: row-reverse;
		padding: rem(5);
		gap: rem(8);
		align-items: center;
		justify-content: center;
		&::before {
			font-size: rem(12);
			@media (max-width: $mobile) {
				font-size: rem(16);
			}
		}
		&:hover {
			color: $coral;
		}
		@media (max-width: $mobile) {
			font-size: rem(25);
			text-transform: uppercase;
			
		}
	}
}

.menu-open {
	.menu__body {
		top: 0;
		opacity: 1;
		visibility: visible;
	}
	.icon-menu {
		&::before, &::after, span {
			background-color: #ffffff;
		}
	}
}

//====================================================================================================

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
